.footer-section {
    /* height: 650px; */
    padding: 40px;
    background: #000000;
    color: white;
}
.footer-section ul{
    font-size: 18px;
}
.footer-section h2{
    /* font-size: 20px; */
    text-align: center;
    /* margin-top: 40px; */
}
.footer-section ul li {
    word-wrap: break-word;
    padding: 10px 15px;
    /* list-style: none; */
}
.ant-descriptions .ant-descriptions-title,
.ant-descriptions .ant-descriptions-item-label,
.ant-descriptions .ant-descriptions-item-content{
    color: white;
    font-size: 18px;
}
.ant-descriptions .ant-descriptions-row >td,
.ant-descriptions .ant-descriptions-row >th{
    padding: 5px 15px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.gitHub-icon svg{
    width: 40px;
    height: 40px;
}
.footer-section .ant-float-btn-default .ant-float-btn-body{
    background-color: black;
    
}
.footer-section .ant-float-btn-default{
    background-color: black;
    margin-right: 25px;
}