.footer-section {
    height: 400px;
    background: #000000;
    color: white;
}
.footer-section ul,
.footer-section p{
    font-size: 20px;
    text-align: left;
}
.footer-section ul li {
    word-wrap: break-word;
    padding-right: 15px;
}