.header-section {
    height: 3000px;
    background: black;
    color: white;
    font-family: 'Clarendon Wide Regular';
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

/* NAVBAR */
.navbar{
    width: 90%;
    max-width: 1208px;
    padding: 15px 0;
    line-height: 60px;
    background: black;
    position: fixed;
    top: 0;
}
.ant-avatar.ant-avatar-icon{
    cursor: pointer;
    margin: 2px 0;
    float: left;
}
.navbar ol {
    float: right;
}
.ant-breadcrumb .ant-breadcrumb-link,
.ant-breadcrumb .ant-breadcrumb-separator{
    line-height: 60px;
    margin: 0 12px;
}
.ant-breadcrumb .ant-breadcrumb-separator{
    color: white;
    font-size: 21px;
}
.ant-breadcrumb a {
    height: 60px;
    color: white;
    font-size: 21px;
}
.ant-breadcrumb a:hover {
    background-color: #f5f7f7;
    color: black;
}
/* ---------------------- */

/* ABOUT ME DIV */
.about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me h1{
    font-size: 4rem;
    margin-bottom: 15px;    
}
p {
    margin-top: 15px;
    font-size: 31px;
    font-style: italic;
}
.about-me h1,p{
    color: #ffffff;
    text-align: center;
}
/* ---------------------- */

/* MENU-BURGER */
.anticon {
    float: right;
    margin: 14px 12px;
}
.anticon svg{
    height: 30px;
    width: 30px;
}
.ant-dropdown .ant-dropdown-menu{
    margin: 20px auto 0 20px;
    background: rgb(0, 0, 0);
    width: 300px;
    border-bottom: 1px solid white;
    border-radius: 0%;
    border-color: #828585;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content >a{
    color: white;
    font-size: 19px;
}
/* ---------------------- */


/* MEDIA QUERIES */
@media screen and (max-width: 425px) {
    .navbar ol {
        display: none;
    }
    .anticon {
        visibility: visible;
    }
    .ant-avatar.ant-avatar-icon{
        margin: auto 10px;
    }
    
}
@media screen and (min-width: 768px) {
    .navbar ol {
        visibility: visible;
    }
    .anticon {
        display: none;
    }
    .ant-avatar.ant-avatar-icon{
        margin: 2px 0;
    }
    .ant-dropdown .ant-dropdown-menu{
        display: none;
    }
}
/* ---------------------- */