.header-section {
    height: 100vh;
    max-width: 1208px;
    width: 100%;
    background: black;
    color: white;
}
/* NAVBAR */
.navbar{
    width: 100%;
    max-width: 1208px;
    padding: 5px 0;
    line-height: 60px;
    background: black;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ant-avatar.ant-avatar-icon{
    cursor: pointer;
    margin: 2px 0;
}
.burger-button{
    padding: 5px;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
}
.burger-line{
    display: inline-block;
    width: 35px;
    height: 2px;
    background: rgb(255, 255, 255);
}
.burger-content{
    padding-top: 120px;
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
    z-index: 2;
}
.menu-item{
    text-align: center;
    padding: 5px;
    margin: 10px auto;
    width: 30%;
    font-size: 22px;
    font-weight: 200;
    /* color: black; */
}
.menu-item a:hover{
    color: black;
    padding: 5px;
    background: white;
}
.menu-item:hover{
    scale: 1.2;
    transition: .4s;
}
.ant-breadcrumb a:hover{
    background: white;
    color: black;
    scale: 1.2;
    transition: .4s;
}
.progress-bar {
    max-width: 1208px;
    width: 100%;
    top: 75px;
    z-index: 2;
    position: fixed;
    height: 5px;
    background: rgb(255, 238, 0);
    bottom: 100px;
}

.ant-breadcrumb .ant-breadcrumb-link,
.ant-breadcrumb .ant-breadcrumb-separator{
    line-height: 60px;
    margin: 0 12px;
}
.ant-breadcrumb .ant-breadcrumb-separator,.ant-breadcrumb a {
    color: white;
    font-size: 22px;
    font-weight: 200;
}
.ant-breadcrumb a {
    height: 60px;
}
/* ---------------------- */

/* ABOUT ME DIV */
.about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../images/valentine-skywalker.jpg');
    background-size: cover;
    position: relative;
    background-position: center;
}
.about-me::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle farthest-corner at center center, rgba(0, 0, 0, 0.644), rgb(0, 0, 0));
    
    /* Применяем эффект размытия. Увеличьте значение для большего размытия. */
    /* filter: blur(10px);  */
}
.about-me h1{
    font-size: 25px;
    margin: 80px 0 15px;
    padding: 10px;
     
}
.footer-section p,
.header-section p,
.hobbies-section p {
    padding: 0 10px;
    font-size: 27px;
}
.about-me h1,
.about-me p,
hr{
    text-align: center;
    z-index: 1;
}
.about-me p{
    margin-top: 100px;
    font-size: 18px;
    text-align: left;
    padding: 0 30px;
    width: 80%;
}
.about-me span{
    z-index: 1; 
    font-size: 18px;
    width: 80%;
    margin: 30px 0 0 0;
    padding: 0 30px;
    text-align: left;
}
.true-span{
    color: green;
}
span.cursor {
    animation: blink .7s infinite;
    padding: 0;
  }
  
  @keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
/* ---------------------- */

/* MEDIA QUERIES */
@media screen and (max-width: 704px) {
    .ant-breadcrumb{
      display: none;
    }
    .burger-button{
      visibility: visible;
    }
  }
  @media screen and (min-width: 704px){
    .ant-breadcrumb{
      visibility: visible;
    }
    .burger-button,
    .burger-content{
      display: none;
    }
  }