.header-section {
    height: 4400px;
    background: black;
    color: white;
}
/* NAVBAR */
.navbar{
    width: 90%;
    max-width: 1208px;
    padding: 15px 0;
    line-height: 60px;
    background: black;
    position: fixed;
    top: 0;
}
.ant-avatar.ant-avatar-icon{
    cursor: pointer;
    margin: 2px 0;
    float: left;
}
.navbar ol {
    float: right;
}
.ant-breadcrumb .ant-breadcrumb-link,
.ant-breadcrumb .ant-breadcrumb-separator{
    line-height: 60px;
    margin: 0 12px;
}
.ant-breadcrumb .ant-breadcrumb-separator,.ant-breadcrumb a {
    color: white;
    font-size: 23px;
    font-weight: 600;
}
.ant-breadcrumb a {
    height: 60px;
}
.ant-breadcrumb a:hover {
    background-color: #f5f7f7;
    color: black;
}
/* ---------------------- */

/* ABOUT ME DIV */
.about-me {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me h1{
    font-size: 48px;
    margin: 120px 0 15px;    
}
.about-me p,
.footer-section p,
.header-section p {
    padding: 0 30px;
    font-size: 28px;
}
.about-me h1,
.about-me p{
    text-align: center;
}
.about-me span{
    /* transform: translateY(100%);
    Transition: all ease-in 0.7s; */
    font-size: 22px;
    margin: 30px 0 0 0;
    padding: 0 30px;
    text-align: left;
}
/* ---------------------- */

/* MENU-BURGER */
.anticon {
    float: right;
    margin: 14px 12px;
}
.anticon svg{
    height: 30px;
    width: 30px;
}
.ant-dropdown .ant-dropdown-menu{
    margin: 20px auto 0 20px;
    background: rgb(0, 0, 0);
    width: 300px;
    border-bottom: 1px solid white;
    border-radius: 0%;
    border-color: #828585;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content >a{
    font-weight: 600;
    font-size: 19px;
}
/* ---------------------- */

/* HOBBYES DIV */
.header-section >p {
    margin-top: 80px;
}
.hobbyes-cards{
    padding: 0 30px;
    font-size: 24px;
    text-align: left;
    height: 800px;
}
.content-section h3{
    font-size: 28px;
    /* margin-top: 80px; */
    padding: 0 30px;
}
.hobbies-cards,
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ant-card .ant-card-meta-detail >div:not(:last-child){
    font-size: 22px;
}
.ant-card .ant-card-meta-description{
    font-size: 17px;
    font-weight: 600;
}
/* SCROLL ANIMATION */
h3,
.ant-card-hoverable,
.footer-section p,
.header-section >p,
.footer-section ul{
    transform: translateY(60px);
    transition:  1s;
    opacity: 0;
}

.ant-card-hoverable {
    width: 280px;
    margin: 50px 20px;
}

.slide-in {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }

/* ---------------------- */


/* MEDIA QUERIES */
@media screen and (max-width: 320px) {
    .header-section {
        height: 3900px;
    }
    .ant-card-hoverable {
        width: 220px;
    }
    .ant-card .ant-card-meta-detail >div:not(:last-child){
        font-size: 18px;
    }
    .ant-card .ant-card-meta-description{
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    
    .navbar ol {
        display: none;
    }
    .ant-avatar.ant-avatar-icon{
        margin: auto 10px;
    }
    .about-me h1{
        font-size: 42px;
    }
    .about-me p,
    .header-section p{
        font-size: 22px;
    }
    .about-me span{
        font-size: 18px;
    }
    .hobbies-cards >div{
        flex-direction: column;
    }
}
@media screen and (425px < width < 704px) {
    
    .navbar ol {
        display: none;
    }
    .hobbies-cards >div{
        flex-direction: column;
    }
}
@media screen and (min-width: 704px) {
    .header-section {
        height: 2600px;
    }
    .navbar ol {
        visibility: visible;
    }
    .anticon {
        display: none;
    }
    .ant-avatar.ant-avatar-icon{
        margin: 2px 0;
    }
    .ant-dropdown .ant-dropdown-menu{
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .header-section {
        height: 3000px;
    }
    .ant-card-hoverable {
        width: 380px;
    }
    .ant-card .ant-card-meta-detail >div:not(:last-child){
        font-size: 25px;
    }
    .ant-card .ant-card-meta-description{
        font-size: 21px;
    }
}
@media screen and (min-width: 1440px) {
    .header-section {
        height: 3100px;
    }
}
@media screen and (min-width: 2560px) {
    .header-section {
        height: 4100px;
    }
}
/* ---------------------- */