.App{
  margin: 0 auto;
  height: 4800px;
  max-width: 1208px;
  width: 90%;
}
* {
  font-family: Consolas, 'Courier New', monospace;
  color: white;
}
@media screen and (max-width: 375px){
  .App, .navbar{
    width: 100%;
  }
}