.content-section {
    height: 2700px;
    background: black;
    color: white;
}
.content-section h3{
    margin-top: 0;
    /* text-align: center; */
}

/* MEDIA QUERIES */
@media screen and (320px < width < 768px) {
    .content-section {
        height: 3100px;
    }
}
@media screen and (704px < width < 1024px) {
    .content-section {
        height: 1700px; 
    }
}
@media screen and (min-width: 1024px) {
    .content-section {
        height: 2000px; 
    }
}
/* ---------------------- */