.content-section {
    width: 100%;
    background: black;
    color: white;
}
.content-section h3{
    margin-top: 0;
    margin: 0 auto;
}
.projects{
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100px;
}

/* MEDIA QUERIES */
/* @media screen and (320px < width < 768px) {
    .content-section {
        height: 3000px;
    }
}
@media screen and (704px < width < 1024px) {
    .content-section {
        height: 1100px; 
    }
}
@media screen and (min-width: 1024px) {
    .content-section {
        height: 800px; 
    }
} */
/* ---------------------- */